mat-card {
    margin: 5px;

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    mat-card-actions {
      button {
        margin-right: 8px;;
      }
    }
}
